<div class="todo-item">
  <div class="todo-item-name">{{ data.name }}</div>
  <div class="todo-item-description" *ngIf="isOpen">{{ data.desc }}</div>
  <div class="todo-item-content">
    <ng-content select=".todo-list-item-desc--second"></ng-content>
    <ng-content select=".todo-list-item-desc--first"></ng-content>
  </div>
  <button class="todo-item-toggle-btn" (click)="onToggleDescriptionClick()">toggle description</button>
  <button class="todo-item-remove-btn" (click)="onRemoveItemClick()">remove</button>
</div>
