<div class="todo-list">
  <div class="todo-list-title">
    TODO List app
  </div>
  <div class="todo-list-form">
    <input #newTodoName type="text" placeholder="Имя задачи">
    <textarea #newTodoDesc name="testDescription" id="" cols="20" rows="2"></textarea>
    <button (click)="addTask(newTodoName.value)">add task</button>
    <div class="todo-list-controls">
      <button (click)="openAll()">openAll</button>
      <button (click)="collapseAll()">collapseAll</button>
    </div>
  </div>
  <div class="todo-list-content">
    <ng-container *ngFor="let item of items; let i = index">
      <app-item #todoItem [data]="item" (onRemove)="removeTask(i)"></app-item>
    </ng-container>
  </div>
</div>
